.cat-label {
    margin-right: 10px;
    color: purple;
    font-size: 30px;
}

.catalog {
    align-items: center;
    background-color: rgba(252, 251, 252, 0.8);
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    color: #fff;
    height: 190px;
}

#events {
    padding: 8px;
    font-size: 16px;
    border: 2px solid purple;
    border-radius: 4px;
    color: purple;
}

#events option:hover {
    background-color: purple; 
    color: #fff;
}

#dressCatalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#dressCatalogue img {
    width: 200px; 
    height: 200px; 
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

#dressCatalogue img:hover {
    transform: scale(1.1);
}

#dressCatalogue .no-dresses-message {
    color: purple;
}
