<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Page</title>
        <link rel="stylesheet" href="/static/styles/user.css">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/scripts/user.js"></script>
    </head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">DressMeUp</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">User Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Settings</span>
          </a>
        </li>
        <li>
          <a href="dress.html">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Dresses & Events</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Help &amp; Support</span>
          </a>
        </li>
      </ul>
  </div>
    <section class="home-section">
        <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search' ></i>
        </div>
        <div class="profile-pic" id="profilePicDiv" data-profile_pic="{{ profile_pic }}">
            <span class="user_name">{{ username }}</span>
            <div class="dropdown-content" id="dropdownContent">
                <a href="#">Account Settings</a>
                <a href="#">Language Preferences</a>
                <a href="#">Privacy & Security</a>
                <a href="#">FAQ</a>
                <a href="#">Logout</a>
            </div>
            <i class='bx bx-chevron-down' id="dropdownBtn"></i>
            
            </div>
        </div>
        </nav>

        <div class="widget-container">
          <div class="overview-boxes">
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Events</div>
                <div class="number">0</div>
                <div class="indicator">
                  <i class='bx bx-up-arrow-alt'></i>
                  <span class="text">Up from yesterday</span>
                </div>
              </div>
              <i class='bx bx-cart-alt cart'></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Dresses</div>
                <div class="number">0</div>
                <div class="indicator">
                  <i class='bx bx-up-arrow-alt'></i>
                  <span class="text">Up from yesterday</span>
                </div>
              </div>
              <i class='bx bxs-cart-add cart two' ></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Picked</div>
                <div class="number">0</div>
                <div class="indicator">
                  <i class='bx bx-up-arrow-alt'></i>
                  <span class="text">Up from yesterday</span>
                </div>
              </div>
              <i class='bx bx-cart cart three' ></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Reviews</div>
                <div class="number">0</div>
                <div class="indicator">
                  <i class='bx bx-down-arrow-alt down'></i>
                  <span class="text">Down From Today</span>
                </div>
              </div>
              <i class='bx bxs-cart-download cart four' ></i>
            </div>
          </div>
    </section>
</body>
</html>
